<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SpriteSize" value="32"/>
    <add key="TimeFactor" value="1"/>
    <add key="nbrCarreParSalle" value="1"/>
    <add key="nbrRangParCarre" value="2"/>
    <add key="nbrTableParRang" value="4"/>
    <add key="TailleDesTables" value="8"/>
  </appSettings>
</configuration>